{% extends "base.html" %}

{% block content %}
  {% include "partials/page_registrar.html" %}
  {% include "partials/page_relatorio.html" %}
  {% include "partials/page_rankings.html" %}
  {% include "partials/page_graficos.html" %}
  {% include "partials/page_catalogo.html" %}
{% endblock %}

{% block modals %}
  {% include "partials/modals.html" %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/api.js') }}"></script>
<script src="{{ url_for('static', filename='js/state.js') }}"></script>
<script src="{{ url_for('static', filename='js/scanner.js') }}"></script>
<script src="{{ url_for('static', filename='js/modals.js') }}"></script>
<script src="{{ url_for('static', filename='js/page-registrar.js') }}"></script>
<script src="{{ url_for('static', filename='js/page-relatorio.js') }}"></script>
<script src="{{ url_for('static', filename='js/page-rankings.js') }}"></script>
<script src="{{ url_for('static', filename='js/page-graficos.js') }}"></script>
<script src="{{ url_for('static', filename='js/page-catalogo.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
